body {
    background: #3f5d81 url(/static/WebSite/img/error404.png);
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center; 
  }
 